<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS -->
    <link rel='stylesheet' type="text/css" href='/css/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' type="text/css" href='/css/bootstrap/bootstrap-theme.min.css' />
    <link rel='stylesheet' type="text/css" href='/css/partials/navbar.css' />
    <link rel='stylesheet' type="text/css" href='/css/partials/footer.css' />
    <link rel='stylesheet' type="text/css" href='/css/<%= css %>.css' />

    <!-- Android -->
    <meta name="theme-color" content="#009688">
  </head>
  <body>
